# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Cloned repositories
repos/

# Generated vector stores
vector_stores/

# Generated repository AST cache
.code_assistant/

# Environment variables
.env

# Streamlit cache
.streamlit/secrets.toml

# VS Code
.vscode/